html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

.body {
    background-color: rgb(235, 235, 235);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.tacos {
    display: flex;
    flex-wrap: wrap;
}

.tacos>* {
    flex: 1 1 200px;
    margin: 1rem;
}

.taco {
    padding: 0.5rem;
    background-color: white;
    color: black;
    font-size: 125%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.taco:hover {
    opacity: .9;
}

.taco img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.taco figcaption {
    padding: 1rem;
}